<div id="info">
    <a href="http://threejs.org" target="_blank">three.js</a> - effects - stereo. skybox by <a href="http://www.zfight.com/" target="_blank">Jochum Skoglund</a>
</div>


<%=javascript_include_tag "example"%>
